@using WaterMeter.Web.Features.Administrator.Users
@model WaterMeter.Web.Features.Administrator.Users.CreateModel

<h1>Create user</h1>

@using (Html.BeginForm<UserController>(x => x.CreateUser()))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MobilePhone)
        @Html.TextBoxFor(m => m.MobilePhone, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @(Html.ActionLink<UserController>("Cancel", x => x.ListUsers(), null, new { @class = "btn btn-default" }))
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
}