@using WaterMeter.Web.Features.Administrator.Properties
@model WaterMeter.Web.Features.Administrator.Properties.PropertyDeleteModel

<h1>Delete property</h1>
@using (Html.BeginForm<PropertyController>(x => x.DeleteProperty(Model.Id), FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        You are about to delete property: <b>@Model.Address</b>
        <p>
            Are you sure?
        </p>
    </div>
    <div class="form-group">
        @(Html.ActionLink<PropertyController>("Cancel", x => x.ListProperties(), null, new { @class = "btn btn-default" }))
        <button type="submit" class="btn btn-primary">Yes</button>
    </div>
}